/* https://images.pexels.com/photos/323776/pexels-photo-323776.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1 */
*{
    padding: 0;
    margin: 0;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
    position:fixed;
    top: 0;
    right: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.507);   
}
nav h1{
    font-family: monospace;
    font-size: 2.5rem;
    text-transform: uppercase;
    letter-spacing: 1rem;
    color:white
}
a{
    margin-right: 1rem;
    font-size: 1.8rem;
    text-decoration: none;
    color: white;
}
#hero{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('https://images.pexels.com/photos/323776/pexels-photo-323776.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1');
    background-size: cover;
    background-position: center; 
}
#hero h1{
    font-size: 5rem;
    text-transform: uppercase;
    color:white;
    background-color: rgba(0, 0, 0, 0.507);
    padding: 1rem;
    border-radius: 1.5rem;
}
span{
    /* color:#b96e49 ; */
    color: #5c9cfd;
}
#about{
    height: 100vh;
    display: flex;
}
#about .left,.right{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.left img{
    width: 50%;
    border-radius: 2rem;
    /* transition: 1.5s; */
    box-shadow: 0.5rem 0.5rem 0.5rem;
}
.left img:hover{
    /* box-shadow: 0.5rem 0.5rem 0.5rem; */

}
.right h1{
    font-family: monospace;
    font-size: 2.5rem;
    letter-spacing: 0.5rem;
    text-transform: uppercase;
}
.right p{
    font-size: 1.5rem;
    padding: 2rem;
}
body{
    background-color: #131313;
    color: white;
}
#whatwedo{
    height: 100vh;
    display: flex;
    justify-content: space-evenly;
    /* flex-wrap: wrap; */
}
.card{
    width: 20rem;
    padding: 1rem;
    background-color:#5c9cfd3b;
    border-radius: 2rem;
}
.card img{
    width: 100%;
}
#contact{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
form{
    width: 20rem;
    padding: 2rem;
    background-color: #5c9cfd57;
    border-radius: 0.8rem;
    display: flex;
    flex-direction: column;
}
input,textarea{
    padding: 1rem 3rem;
    font-size: 1.2rem;
    margin: 2rem 1rem;
    background-color:transparent;
    color: white;
    border-radius: 1rem;
    border: 1px solid #fff;
    transition: 2s ease-in;
}
input:focus{
    outline: none;
}
textarea:focus{
    outline: none;
}
.btn:hover{
    background-color: black;
    border: none;
}
@media screen and (max-width:425px){
    nav .nright{
        display: none;
    }
    nav h1{
        font-size: 1.3rem;
        letter-spacing: 0.8rem;
    }
    #hero h1{
        font-size: 2rem;
        margin-top: 2rem;
    }
    #hero{
        height: 100%;
        padding: 4rem;
    }
    #about{
        height: 100%;
        flex-direction: column;
    }
    #about .left,.right{
        width: 100%;
        padding: 2rem;
    }
    #whatwedo{
        height: 100%;
        flex-direction: column;
    }
    #contact{
        height: 100%;
    }
    @media screen and(max-width:768px) {
        #contact{
            height: 100%;
        }
       
    }
    
}
    
